@font-face {
  font-family: 'spotlight icons';
  src: url('../font/spotlight.eot?20135777');
  src: url('../font/spotlight.eot?20135777#iefix') format('embedded-opentype'),
       url('../font/spotlight.woff?20135777') format('woff'),
       url('../font/spotlight.ttf?20135777') format('truetype'),
       url('../font/spotlight.svg?20135777#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20135777#fontello') format('svg');
  }
}
*/
 
 [class^="spotlight-"]:before, [class*=" spotlight-"]:before {
  font-family: "spotlight icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.spotlight-spin:before { content: '\e808'; } /* '' */
.spotlight-database:before { content: '\e804'; } /* '' */
.spotlight-audio:before { content: '\e800'; } /* '' */
.spotlight-video:before { content: '\e80b'; } /* '' */
.spotlight-picture:before { content: '\e80a'; } /* '' */
.spotlight-file:before { content: '\e809'; } /* '' */
.spotlight-placeholder:before { content: '\e803'; } /* '' */
.spotlight-search:before { content: '\e801'; } /* '' */
.spotlight-user:before { content: '\e807'; } /* '' */
.spotlight-path:before { content: '\e806'; } /* '' */
.spotlight-node:before { content: '\e805'; } /* '' */
.spotlight-settings:before { content: '\e802'; } /* '' */