.spotlight-wrapper {
    font-size: 12px;
    position: relative;

}

.spotlight-input-wrapper {
    width:100%;
    text-align: right;
    width: 100%;
}

.spotlight-input-wrapper label {
    display: inline-block;
    margin-right: 10px;
}

.spotlight-input {
    padding: 3px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    width:auto;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width:60%;
    margin:0 !important;
    margin-bottom:2px !important;
    background: #fff;
}


.spotlight-input-wrapper i.spotlight-search {
    margin-left:-25px;
}

.spotlight-input-wrapper i.spotlight-spin {
    visibility: hidden;
}

.spotlight-result-wrapper {
    width:100%;
    background:#f8f8f8;
    border: 1px solid #e7e7e7;
    -webkit-border-radius:0px 0px 5px 5px;
    border-radius:0px 0px 5px 5px;
    position: absolute;
    z-index:100;
    display: none;
}

.spotlight-category {
    border-bottom: 1px solid #e7e7e7;
}

.spotlight-category:last-child {
    border-bottom: none;
}

.spotlight-category-title {
    padding:5px 10px;
}

.spotlight-item {
    display: block;
    padding:5px 10px;
    height:100%;
    word-wrap: break-word;
}
.spotlight-item:hover,
.spotlight-item.active{
    background:#e7e7e7;
    text-decoration: none;
}

.spotlight-item-description {
    font-size:11px;
    color:#808080;
}
